.pusher {
  .ui.segment {
    padding: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}

.field {
  .ui.secondary.menu .active.item {
    background: rgba(192, 192, 192, 0.4);
  }

}

.pushable:not(body) {
  transform: none !important;
}

.ui.centered.cards::after {
  content: "";
  //padding: 7px;
  //margin: 5px;
  //flex-grow: 1;
  //align-self: center;
}


.ui.card {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
