.pusher {
  .ui.segment {
    padding: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}

.field {
  .ui.secondary.menu .active.item {

    background: rgba(192, 192, 192, 0.4);

  }

}

.ui.card {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
